@{ Layout = "_Layout";}

@{
    ViewData["Title"] = "Home Page";
}
@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>


    <center>
        
        @using (Html.BeginForm("Search", "Home", FormMethod.Get))
        {
            <span>შეიტანე სახელი ან გვარი</span>
            <input type="text" name="search" placeholder="შეიტანე სახელი ან გვარი" />
            <input type="submit" value="Search" name="submit" />
        }
    </center>

    

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="გამოსვლა" />

        <p>
            @model IEnumerable<employee>


            <h4 class="bg-primary text-white text-center p-2">თანამშრომლები</h4>
            <table class="table table-sm table-bordered table-striped">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <th>პირადი ნომერი</th>
                        <th>სახელი</th>
                        <th>გვარი</th>
                        <th>სქესი</th>
                        <th>დაბადების თარიღი</th>
                        <th>თანამდეობა</th>
                        <th>სტატუსი</th>
                        <th>გათავისუფლების თარიღი </th>
                        <th>მობილური</th>
                        <th>

                           
                        </th>
                    </tr>
                </tbody>
                <tbody>

                    @foreach (employee e in Model)
                    {
                        <tr>
                            <td>@e.Id</td>
                            <td>@e.number.ToString()</td>
                            <td>@e.Name</td>
                            <td>@e.SurName</td>
                            <td>@e.Gender</td>
                            <td>@e.Bdate</td>
                            <td>@e.position</td>
                            <td>@e.status</td>
                            <td>@e.timeoffwork</td>
                            <td>@e.Mphone</td>
                            <td class="text-center">
                                
                                <a asp-action="Edit" asp-route-id="@e.Id"
                                   class="btn btn-sm btn-warning">რედაქტირება</a>
                                <a asp-action="Delete" asp-route-id="@e.Id" class="btn btn-sm btn-danger">წაშლა</a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a asp-action="Create" class="btn btn-primary">ახალი თანამშრომლის დამატება</a>
        </p>
       

    </form>

}
else
{
    <h3 class="text-center">პროგრამმა Hr გთხოვთ გაიაროთ ავდორიზაცია</h3>
    <p class="text-center">
        <a asp-controller="Account" asp-action="Login">შესვლა</a>
        <a asp-controller="Account" asp-action="Register">რეგისტრაცია</a>
    </p>
}


